---
- name: Start httpd
  service:
    name: httpd
    state: started
    enabled: yes
  become: true

- name: Stop httpd
  service:
    name: httpd
    state: stopped
    enabled: no
  become: true

- name: Restart httpd
  service:
    name: httpd
    state: restarted
    enabled: yes
  become: true



