$TTL 300

@       IN SOA  {{ dns_hostname }}.{{ domain }}. admin.{{ domain }}. (
                                0       ; serial
                                600      ; refresh
                                360      ; retry
                                604800   ; expire
                                1800 )    ; minimum

; owner         TTL     CL  type        RDATA
                600     IN  NS          {{ dns_hostname }}.{{ domain }}.
{% for i in dns_records %}
{{ i.ip_last_oct }}   IN  PTR         {{ i.hostname }}.{{ domain }}
{% endfor %}
