$TTL 3600
$ORIGIN {{ domain }}.

@       IN SOA  {{ dns_hostname }}.{{ domain }}. admin.{{ domain }}. (
                                        2021050519      ; serial number
                                        3600            ; refresh period
                                        600             ; retry  period
                                        604800          ; expire time
                                        1800 )          ; negative ttl

; owner         TTL     CL  type        RDATA
               600     IN  NS          dnsserver
;@                       IN NS           {{ dns_hostname }}.{{ domain }}

{% for i in dns_records %}
{{ i.hostname }}    IN    A     {{ i.host_ip }}
{% endfor %}

