zone {{ domain }}. IN {
  type master;
  file "/var/named/{{ domain }}.zone";
#        forwarders {};
#        allow-update { none; };
};

zone 10.168.192.in-addr.arpa. IN {
  type master;
  file "/var/named/192.168.10.zone";
#  forwarders {};
#  allow-update { none; };
};


zone {{ ocp_suff }}.{{ domain }}. IN {
  type master;
  file "/var/named/{{ ocp_suff }}.{{ domain }}.zone";
};

zone 11.168.192.in-addr.arpa. IN {
  type master;
  file "/var/named/reverse.{{ ocp_suff }}.{{ domain }}.zone";
};
