zone {{ domain }}. IN {
  type master;
  file "/var/named/{{ domain }}.zone";
#        forwarders {};
#        allow-update { none; };
};

zone 10.168.192.in-addr.arpa. IN {
  type master;
  file "/var/named/192.168.10.zone";
#  forwarders {};
#  allow-update { none; };
};


zone okd4.{{ domain }}. IN {
  type master;
  file "/var/named/okd4.{{ domain }}.zone";
};

zone 11.168.192.in-addr.arpa. IN {
  type master;
  file "/var/named/reverse.okd4.{{ domain }}.zone";
};
