$TTL 300

@       IN SOA  {{ dns_hostname }}.{{ ocp_suff }}.{{ domain }}. admin.{{ domain }}. (
                                0       ; serial
                                600      ; refresh
                                360      ; retry
                                604800   ; expire
                                1800 )    ; minimum

; owner         TTL     CL  type        RDATA
                600     IN  NS          {{ dns_hostname }}.{{ ocp_suff }}.{{ domain }}.

{% for i in service_nodes %}
{{ i.ip_last_oct }}   IN  PTR         {{ i.hostname }}.{{ domain }}.
{% endfor %}

{% for i in bootstrap_nodes %}
{{ i.ip_last_oct }}   IN  PTR         {{ i.hostname }}.{{ domain }}.
{% endfor %}

{% for i in master_nodes %}
{{ i.ip_last_oct }}   IN  PTR         {{ i.hostname }}.{{ domain }}.
{% endfor %}

{% for i in compute_nodes %}
{{ i.ip_last_oct }}   IN  PTR         {{ i.hostname }}.{{ domain }}.
{% endfor %}


; kubernetes nodes
{% for i in kubernetes_master_nodes %}
{{ i.ip_last_oct }}   IN  PTR         {{ i.hostname }}.{{ domain }}.
{% endfor %}

{% for i in kubernetes_worker_nodes %}
{{ i.ip_last_oct }}   IN  PTR         {{ i.hostname }}.{{ domain }}.
{% endfor %}

