---

#- name: Check if site_directory is set correctly
#  assert:
#    that:
#      - item.site_directory is defined
#      - item.site_directory is string
#  loop: "{{ http_sites }}"
#
#- name: Check if port is set correctly
#  assert:
#    that:
#      - item.port is defined
#      - item.port is number
#      - item.port > 0
#      - item.port < 65536
#  loop: "{{ http_sites }}"

- block:
  - name: Install necessary packages
    yum:
      name: "{{ basic_packages }}"
      state: installed
  become: true
